<!DOCTYPE html>
<html>
<head>
    <title>WebSocket STOMP Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <h1>WebSocket STOMP Test</h1>
    <script>
        var socket = new SockJS('http://localhost:8080/ws');
        var stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/user/queue/reply', function (message) {
                console.log('Received: ' + message.body);
            });
        }, function (error) {
            console.log('Error: ' + error);
        });
    </script>
</body>
</html>